<mat-card>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3">

        <div class="d-flex flex-column m-2">

            <form>
                <mat-form-field class="w-100">
                    <input type="text" placeholder="Select procedure" matInput [formControl]="procedure" [matAutocomplete]="auto" autocomplete="off">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProcedureFn">
                        <mat-option *ngFor="let proc of procedures$ | async" [value]="proc">
                            <div>{{proc.name}} - {{proc.minutes}}</div>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="procedure.invalid">{{getProcedureError()}}
                    </mat-error>
                </mat-form-field>
            </form>
            <div>
                    <button mat-raised-button (click)="onSearch()" class="m-2">Search </button>
                    <button mat-raised-button (click)="onSearchClear()" class="m-2">Clear </button>
            </div>

        </div>
        <div class="d-flex align-items-center flex-sm-row flex-column m-2">
            <ngx-charts-bar-vertical [view]="size" [scheme]="colorScheme" [results]="hours" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="false">
            </ngx-charts-bar-vertical>

            <ngx-charts-bar-vertical [view]="size" [scheme]="colorScheme" [results]="hoursCount" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [legend]="showLegend" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabelCount" [animations]="false">
            </ngx-charts-bar-vertical>
        </div>

    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <div class="btn-group p-2">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Next
            </div>
        </div>
        <div class="p-2">
        <h3 class="text-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            <span class="text-center">{{ startDate | date:'medium' }}</span> - <span class="text-center">{{ endDate | date:'medium' }}</span>
        </div>
        <div class="btn-group p-2">
            <div class="btn btn-primary" (click)="onDateChange('month')" [class.active]="view === 'month'">
                Month
            </div>
            <div class="btn btn-primary" (click)="onDateChange('week')" [class.active]="view === 'week'">
                Week
            </div>
            <div class="btn btn-primary" (click)="onDateChange('day')" [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>

</mat-card>
<div [ngSwitch]="view" class="mt-5">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>
