<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">{{modalData?.event.title}}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Start</td>
                        <td>{{modalData?.event.start | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td>End</td>
                        <td>{{modalData?.event.end | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{modalData?.event.meta.status.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="modalData?.event.meta.status.value !== 'CREATED'" type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
        <button *ngIf="modalData?.event.meta.status.value === 'CREATED'" type="button" class="btn btn-danger" (click)="onMissedClick(modalData?.event); close()">Missed</button>
        <button *ngIf="modalData?.event.meta.status.value === 'CREATED'" type="button" class="btn btn-primary" (click)="onCompletedClick(modalData?.event); close()">Completed</button>
    </div>
</ng-template>

<mat-card>

    <div class="d-flex flex-column-reverse flex-sm-row justify-content-between mb-3">

        <div class="d-flex flex-column">

            <form [formGroup]="commandForm" class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column p-2">
                    <mat-form-field>
                        <input type="text" placeholder="Select patient" matInput [formControl]="patient" [matAutocomplete]="patientAutocomplete"
                            autocomplete="off">
                        <mat-autocomplete #patientAutocomplete="matAutocomplete" [displayWith]="displayPatientFn">
                            <mat-option *ngFor="let option of patients$ | async" [value]="option">
                                {{option.fullName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="patient.invalid">{{getPatientError()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" placeholder="Select procedure" matInput [formControl]="procedure" [matAutocomplete]="auto" autocomplete="off">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProcedureFn">
                            <mat-option *ngFor="let proc of procedures$ | async" [value]="proc">
                                <div>{{proc.name}} - {{proc.minutes}}</div>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="procedure.invalid">{{getProcedureError()}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="d-flex flex-column p-2">
                    <div>
                        <ngb-timepicker [formControl]="startTime" matInput required></ngb-timepicker>
                        <mat-error *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)">{{getStartTimeError()}}
                        </mat-error>

                        <mat-error *ngIf="isInvalidRange">{{reportMsg}}
                        </mat-error>
                    </div>

                </div>
            </form>
            <button mat-raised-button (click)="submit()">Submit</button>
        </div>

        <div>
            <h4 class="text-center">Appointment</h4>
            <h5 class="text-center">{{ viewDate | date:'shortDate'}}</h5>
        </div>

    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <div class="btn-group p-2">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onDateChange()">
                Next
            </div>
        </div>

        <h3 class="text-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

        <div class="btn-group p-2">
            <div class="btn btn-primary" (click)="onDateChange('month')" [class.active]="view === 'month'">
                Month
            </div>
            <div class="btn btn-primary" (click)="onDateChange('week')" [class.active]="view === 'week'">
                Week
            </div>
            <div class="btn btn-primary" (click)="onDateChange('day')" [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>
</mat-card>

<div [ngSwitch]="view" class="mt-5">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>