<div mat-dialog-title class="w-50">Add procedure</div>
<div mat-dialog-content>
    <form [formGroup]="commandForm">
        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="Name" [formControl]="name" autocomplete="off">
                <mat-error *ngIf="name.invalid">{{getNameError()}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="Price" [formControl]="price" required autocomplete="off" type="number">
                <mat-error *ngIf="price.invalid">{{getPriceError()}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="p-2 w-100">
            <mat-select placeholder="Type" [formControl]="typeId" required>
                <mat-option *ngFor="let type of types" [value]="type.id">
                    {{type.name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="typeId.invalid">{{getTypeError()}}
            </mat-error>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="submit()">Submit</button>
    <button mat-button (click)="onCloseModal()">Abort</button>
</div>