<mat-card>
    <div class="p-4 text-center">
        <h3>Details</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{clinic.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{clinic.doctor}}</li>
            <li class="list-group-item">From: {{ clinic.workTime.startHour}}:{{ clinic.workTime.startMinute}}</li>
            <li class="list-group-item">Until: {{ clinic.workTime.endHour}}:{{ clinic.workTime.endMinute}}</li>
        </ul>
    </div>
</mat-card>