<div class="row app-header shadow">
        <mat-toolbar color="primary">
                <mat-toolbar-row >
                    <span routerLink="/clinic" class="m-2 pointer-cur">ToothLess</span>
                </mat-toolbar-row>
            </mat-toolbar>
</div>

<router-outlet></router-outlet>