<mat-card>
    <div class="p-4 text-center">
        <h3>Patients</h3>
    </div>
    <div class="d-flex flex-row m-2 justify-content-between">
        <div class="d-flex ">

            <ngb-pagination [collectionSize]="count$ | async" [(page)]="pageNumber" (pageChange)="pageChange($event)" [directionLinks]="false">
            </ngb-pagination>
        </div>

        <div>
            <button mat-raised-button (click)="openDialog()">New</button>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients$ | async">
                <th scope="row">{{patient.id}}</th>
                <td>{{patient.fullName}}</td>
                <td>{{patient.telephoneNumber}}</td>
            </tr>
        </tbody>
    </table>

</mat-card>