<div mat-dialog-title class="w-50">Add patient</div>
<div mat-dialog-content>
    <form [formGroup]="commandForm">
        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="First name" [formControl]="firstName" autocomplete="off">
                <mat-error *ngIf="firstName.invalid">{{getFirstNameError()}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="Last name" [formControl]="lastName" required autocomplete="off">
                <mat-error *ngIf="lastName.invalid">{{getLastNameError()}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="Address name" [formControl]="address" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput placeholder="Phone number" [formControl]="telephoneNumber" required autocomplete="off">
                <mat-error *ngIf="telephoneNumber.invalid">{{getPhoneError()}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="p-2">
            <mat-form-field class="p-2 w-100">
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="birthDate" required>

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthDate.invalid">{{getBirthDateError()}}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="w-50">
    <button mat-raised-button (click)="submit()">Submit</button>
    <button mat-button (click)="onCloseModal()">Abort</button>
</div>