/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/angular-calendar/css/angular-calendar.css";

.pointer-cur {
    cursor: pointer;
}

.appointment-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .clinic-content {
    margin-top: 60px;
}

.modal-open .modal {
    margin-top: 60px;
}
