<div class="d-flex flex-row bd-highlight p-2 clinic-content">

    <mat-sidenav-container >
        <mat-sidenav-content>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a [routerLink]="['details']" class="nav-link active">Details</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['procedures']" class="nav-link">Procedures</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['patients']" class="nav-link">Patients</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['appointments']" class="nav-link">Appointments</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['reports']" class="nav-link">Reports</a>
                </li>
            </ul>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div class="flex-fill m-3">
        <router-outlet></router-outlet>
    </div>
</div>