<mat-card>
    <div class="p-4 text-center">
        <h3>Procedures</h3>
    </div>
    <div class="d-flex flex-row m-2 justify-content-end">
        <div>
            <button mat-raised-button (click)="openDialog()">New</button>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Minutes</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let procedure of clinic.procedures">
                <th scope="row">{{procedure.id}}</th>
                <td>{{procedure.name}}</td>
                <td>{{procedure.price}}</td>
                <td>{{procedure.minutes}}</td>
                <td>{{clinicService.getTypeName(procedure.type)}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>